/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

#resume h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 0;
}
#resume h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
body {
  cursor: default;
  color: #444444;
  overflow-x: hidden;
}
p {
  text-align: justify;
}
ul {
  text-align: justify;
}
li {
  text-align: justify;
}
a {
  color: #066164;
  text-decoration: none;
}
a:hover {
  color: #066164;
  text-decoration: none;
}
h1,
h2,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 15px;
  bottom: 15px;
  z-index: 996;
  background: #066164;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #088992;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 12px 0;
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .logo {
  margin: 0;
  padding: 0;
}
#header .logo img {
  max-height: auto;
  width: 170px;
}
@media only screen and (max-width: 1024px) {
  #header .logo img {
    max-height: 70px;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #0b2341;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #088992;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #088992;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
  width: min-content;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #066164;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #066164;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0b2341;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 12, 21, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0b2341;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #066164;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #066164;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/mygirl.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#hero .container h1 {
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
  font-size: 3rem;
  color: #0f2f57;
}
.resumeFor,
.bottomText {
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #0f2f57;
}
@media screen and (max-width: 991px) {
  #hero .container h1 {
    font-size: 2.5rem;
  }
  .resumeFor {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 576px) {
  #hero .container h1 {
    font-size: 2.1rem;
  }
  .resumeFor {
    font-size: 1.9rem;
  }
}
.auto-type {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-left: 20%;
}
@media only screen and (max-width: 991px) {
  .auto-type {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 576px) {
  .auto-type {
    /*margin-right:16%;*/
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 991px) {
  .bottomText {
    display: none;
  }
}
/*---------form--------------*/
#form input,
select {
  margin: 2%;
  color: #000;
  border: 1px solid #066164;
  border-radius: 10px;
  box-shadow: -10px 2px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media screen and (max-width: 991px) {
  #form input,
  select,
  btn {
    display: block;
    width: 40%;
  }
}
@media screen and (max-width: 576px) {
  #form input,
  select,
  btn {
    width: 90%;
  }
}
#form .btn {
  margin: 2%;
  background: #088992;
  color: #fff;
  border: 1px solid #066164;
  padding: 10px;
}
#form .btn:hover {
  background: #066164;
  border: 1px solid #066164;
  color: #fff;
}
#form .control {
  padding: 0.9% 3.5% 0.9% 3.5%;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding-top: 1.6rem;
}
.section-bg {
  background-color: #f6f9fd;
}
.section-title h2 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #0f2f57;
  text-align: left;
}
.section-subtitle h2 {
  margin: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #0f2f57;
  text-align: left;
}
@media screen and (max-width: 780px) {
  .section-title,
  .section-subtitle,
  h2 {
    padding-top: 0;
    margin: 0;
    font-weight: 600;
    font-size: 25px;
  }
}
@media screen and (max-width: 430px) {
  .section-title,
  .section-subtitle h2 {
    margin: 0;
  }
}
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 20px;
}
.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}
.counts .count-box i {
  display: block;
  font-size: 30px;
  color: #088992;
  float: left;
}
.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #0b2341;
  margin-left: 50px;
}
.counts .count-box p {
  padding: 30px 0 0 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #164682;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
.counts .count-box a:hover {
  color: #2169c4;
}
/*--------------------------------------------------------------
#  how section
--------------------------------------------------------------*/

.how .icon-box {
  text-align: center;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  padding: 45px 20px;
  transition: all ease-in-out 0.5s;
  border-radius: 30%;
}
.how .icon-box h3 {
  padding: 1rem 0;
}
.how .icon-box .icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: #48a3ce;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
}
.how .icon-box .icon i {
  color: #fff;
  font-size: 48px;
}
.how .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #f9c6bb;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateZ(-1px);
  z-index: 1;
}
.how .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.how .icon-box h4 a {
  color: #0b2341;
}
.how .icon-box p {
  line-height: 24px;
  font-size: 1.1rem;
  margin-bottom: 0;
  text-align: center;
  color: #0f2f57;
}
.how .icon-box:hover {
  background: #5e8abd;
  border-color: #3d6caa;
}
.how .icon-box:hover .icon {
  background: #fff;
}
.how .icon-box:hover .icon i {
  color: #ed502e;
}
.how .icon-box:hover .icon::before {
  background: #215472;
}
.how .icon-box:hover h4 a,
.how .icon-box:hover p {
  color: #fff;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  padding: 0;
  width: 100%;
  background: #fff;
  border-radius: 2%;
}
.about .content p {
  text-align: justify;
  color: #0f2f57;
  padding-left: 24%;
}
.about .content h3 {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  font-family: cursive;
  padding-left: 3%;
  color: #066164;
}
.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #066164;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #0661649c;
  margin-left: 43%;
}
.about .content .btn-learn-more:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .about .content .btn-learn-more {
    margin-left: 35%;
  }
  .about .content h3 {
    padding-left: 0%;
  }
  .about .content p {
    padding-left: 6%;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .about .content .btn-learn-more {
    margin-left: 25%;
    text-align: center;
  }
  .about .content p {
    padding-left: 0;
    text-align: center;
    color: #000;
  }
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services h3 {
  padding: 1rem 0;
}
.services .icon-box {
  text-align: center;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  padding: 40px 20px;
  transition: all ease-in-out 0.5s;
  border-radius: 20%;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #ed502e;
  border-radius: 5px;
  transition: all 0.2s ease-in-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
}
.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}
.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #f9c6bb;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  transform: translateZ(-1px);
  z-index: 1;
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #0b2341;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 1.1rem;
  margin-bottom: 0;
  text-align: justify;
  color: #0f2f57;
}
.services .icon-box:hover {
  background: #dd8a77;
  border-color: #ed502e;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #ed502e;
}
.services .icon-box:hover .icon::before {
  background: #f1775d;
}
.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #fff;
}
@media screen and (max-width: 780px) {
  #services .section-title h2 {
    padding-top: 10%;
  }
}
@media screen and (max-width: 430px) {
  #services .section-title h2 {
    padding-top: 20%;
  }
}
/*--------------------------------------------------------------
# Blogs
--------------------------------------------------------------*/
#blog .card {
  margin: 10px;
}
.blogList {
  position: fixed;
  top: 100px;
  right: 22px;
  z-index: 996;
  background: #088992;
  min-width: fit-content;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
}
#articles .grid-container {
  display: grid;
  grid-gap: 20px;
}
@media (min-width: 769px) {
  #articles .item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  #articles .item2 {
    grid-column: 4;
    grid-row: 1;
  }
  #articles .item3 {
    grid-column: 1 / span 4;
    grid-row: 2;
  }
}
@media (max-width: 768px) {
  #articles .item1 {
    grid-column: 1;
    grid-row: 1;
  }
  #articles .item2 {
    grid-column: 1;
    grid-row: 3;
  }
  #articles .item3 {
    grid-column: 1;
    grid-row: 2;
  }
  #articles .author {
    font-size: small;
  }
}
#articles .item2 a {
  text-decoration: none;
  color: black;
}
#articles .item2 .card-title {
  transition: all 0.5s ease;
}
#articles .item2 .card-title:hover {
  transform: scale(1.05);
}
#articles .item1 img {
  padding: 15px;
  width: 100%;
  height: 100%;
  aspect-ratio: 5/3;
}
#articles .item3 img {
  width: 75%;
  height: 75%;
}
#articles .item3 .col-lg-8 {
  text-align: center;
  margin: 40px 0;
}
#articles .item3 .col-lg-8 p {
  text-align: center;
}

#articles .item3 p {
  word-wrap: break-word;
}
@media (max-width: 768px) {
  #articles .item3 img {
    width: 100%;
    height: 100%;
  }
}
#articles .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0 0px 8px;
  border: none;
  border-radius: 20px;
}
#articles .recentblog {
  padding-top: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: white;
  background: #ed502e;
  border-radius: 20px 20px 0px 0px;
}
#articles .card-title {
  font-weight: bold;
  text-align: center;
}
#articles .ribbon {
  width: 50px;
  background-color: transparent;
  position: absolute;
  top: 38px;
  left: 0px;
  border: solid 15px #ed502e;
  border-bottom: solid 15px #ed502e;
  border-top: 15px solid #ed502e;
  border-right: 10px solid transparent;
}
.author {
  font-style: italic;
  color: #ed502e;
}
#articles .share-btn {
  background: #ed502e;
  border: none;
  border-radius: 10px;
  color: white;
  width: auto;
  height: 40px;
  margin: 0px 5px 5px 5px;
  transition: all 0.5s ease;
}
#articles .share-btn:hover {
  transform: scale(1.05);
}

/*-------------------------------FAQs------------------------------*/
#faqs p {
  color: #0f2f57;
}
/*---------------samples1------*/
#sample {
  padding: 0;
}
.tab1 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
}
/* Style the buttons inside the tab */
.tab1 button {
  background-color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #000;
  border-radius: 10px;
  width: 125px;
  margin-left: 27px;
  margin-right: 27px;
}
/* Change background color of buttons on hover */
.tab1 button:hover {
  background: white;
  color: rgb(129, 114, 114);
}
/* Create an active/current tablink class */
.tab1 button.active {
  background-color: #088992;
  color: #fff;
}
/* Style the tab content */
.tabcontent1 {
  display: none;
  /* padding: 6px 12px; */
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 3s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*---------------samples2------*/
.tab2 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
}
/* Style the buttons inside the tab */
.tab2 button {
  background-color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 25px;
  transition: 0.3s;
  font-size: 17px;
  color: #000;
  border-radius: 10px;
  width: 125px;
  margin-left: 27px;
  margin-right: 27px;
}
/* Change background color of buttons on hover */
.tab2 button:hover {
  background: white;
  color: rgb(129, 114, 114);
}
/* Create an active/current tablink class */
.tab2 button.active {
  background-color: #088992;
  color: #fff;
}
/* Style the tab content */
.tabcontent2 {
  display: none;
  /* padding: 6px 12px; */
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 3s;
  border-top: none;
}
/*---------------samples3------*/
.tab3 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
}
/* Style the buttons inside the tab */
.tab3 button {
  background-color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #000;
  border-radius: 10px;
  animation: fadeEffect 4s;
  width: 125px;
  margin-left: 27px;
  margin-right: 27px;
}
/* Change background color of buttons on hover */
.tab3 button:hover {
  background: white;
  color: rgb(129, 114, 114);
}
/* Create an active/current tablink class */
.tab3 button.active {
  background-color: #088992;
  color: #fff;
}
/* Style the tab content */
.tabcontent3 {
  display: none;
  /* padding: 6px 12px; */
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 3s;
  border-top: none;
}
/*--------------------pricing--------------*/
.price {
  color: #0f2f57;
}
.price .container {
  background-color: #fff;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(98, 100, 94);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}
thead {
  background: #088992;
  color: #fff;
}
thead h3 {
  color: #fff;
  font-size: 20px;
}
td {
  text-align: center;
  padding: 8px;

  background: #fff;
}
td i {
  border-radius: 100%;
}
td a {
  border: 1px solid #088992;
  border-radius: 5px;
  font-size: 10px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  width: 100%;
  background: #088992;
}
td p {
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  #price .container h2 {
    padding-top: 15%;
  }
}
td h3 {
  color: #066164;
  font-size: 20px;
}
#buy a {
  margin-left: 5%;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contactBtn {
  width: fit-content;
  border-radius: 10px;
  border: none;
  background: #088992;
  padding: 0.8rem;
  font-size: 1.1rem;
}
.contactBtn a {
  color: white;
}
.contact .info-box {
  color: #0b2341;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}
.contact .info-box i {
  font-size: 32px;
  color: #066164;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fbdad2;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact {
  padding: 2.5rem;
}

.contact input,
.contact textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact input:focus,
.contact textarea:focus {
  border-color: #fbdad2;
}
.contact input {
  padding: 10px 15px;
}
.contact textarea {
  padding: 12px 15px;
}
.contact button[type="submit"] {
  background: #088992;
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  transition: 0.4s;
}
.contact button[type="submit"]:hover {
  background: #088992;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 425px) {
  #contact h2 {
    padding-top: 35%;
  }
}
/*-----------resume Writing------*/
#hero-service {
  background: #1d2b64;
  color: #fff;
  box-shadow: 15px 5px 15px #1d2b64;
}
#hero-service p {
  text-align: center;
}
#expert h3 {
  padding-top: 1rem;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
  border-radius: 5%;
}
#expert p {
  text-align: center;
  font-size: 1rem;
  color: #0f2f57;
}
#expert button {
  border: 1px solid #088992;
  background: #088992;
  border-radius: 15px;
  color: #fff;
  margin: 0 0 2% 45%;
  padding: 10px 20px 10px 20px;
}
@media only screen and (max-width: 500px) {
  #expert button {
    margin: 0 0 2% 30%;
  }
}

/*--------------------------resume pricing-----------------------*/
#resumeprice {
  padding: 2rem 0 1.4rem 0;
}
#resumeprice .box {
  text-align: center;
  margin: 2%;
}
#resumeprice .box-text {
  padding: 3.75rem;
}
#resumeprice .box-text h3 {
  font-weight: 800;
  color: #0f2f57;
}
#resumeprice .box-text p {
  color: #0f2f57;
}
#resumeprice .box .icon {
  font-size: 80px;
}
#resumeprice .box .days {
  background: #066164;
  height: 10vh;
  color: #fff;
  border-radius: 0.625rem;
  padding-top: 1rem;
}
#resumeprice .box-text button {
  color: #fff;
  background: #088992;
  padding: 15px 30px 15px 30px;
  border: 1px solid #088992;
  border-radius: 16%;
}
#resumeprice .box-text button:hover {
  background: #088992;
  color: #fff;
  border: 1px solid #088992;
}
/*-------------------Review----------*/
#review {
  padding-top: 2rem;
  padding-bottom: 0;
}
#review .card {
  text-align: center;
  color: #ed502e;
  margin: 1%;
  border-radius: 10%;
  background-color: #fff;
  border-left: 2px solid #08899258;
}
#review .card:hover {
  background-color: #dd8a77;
}
#review .card h3 {
  color: rgb(119, 110, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#review .card h4 {
  color: rgb(119, 110, 110);
  font-style: inherit;
  font-weight: 600;
  font-size: 12px;
}
#review .card p {
  text-align: justify;
  color: #0f2f57;
}
#review .card p:hover {
  color: #fff;
}
/*-------------------------slider --------------------------*/
.swiper {
  width: 100%;
  height: 100%;
  padding-top: 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding-bottom: 2%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.gopul .icon {
  font-size: 56px;
  color: #ed502e;
}
.gopul {
  width: 70%;
}
@media screen and (max-width: 320px) {
  .gopul {
    text-align: center;
    font-size: 11px;
    width: 100%;
  }
}
/*----coverletter-----*/
.hero-btn {
  border: 1px solid #ed502e;
  border-radius: 10px;
  background: #ed502e;
  color: #fff;
  margin-bottom: 2%;
  padding: 0.3em 0.7em;
  font-size: 0.8rem;
}
.hero-btn:hover {
  background: rgb(45, 170, 45);
  border: 1px solid rgb(45, 170, 45);
}
/*--------------------------------------------------------------
#  SOP SERVICES section
--------------------------------------------------------------*/
#sop h2 {
  padding: 0%;
}
.sop .icon-box {
  text-align: center;
  background: #fefefe;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  border-radius: 30%;
  transition: 1s;
}
.sop .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: #0b2341;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
}
.sop .icon-box .icon i {
  color: #fff;
  font-size: 48px;
}
.sop .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #f9c6bb;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
  z-index: 1;
}
.sop .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.sop .icon-box h4 a {
  color: #0b2341;
}
.sop .icon-box h4 a:hover {
  color: #ed502e;
}
.sop .icon-box a button {
  background: #ed502e;
  color: #fff;
  border: 1px solid #ed502e;
  padding: 3px 15px 3px 15px;
  border-radius: 8%;
}
.sop .icon-box a button:hover {
  background: #18d26e;
  border: 1px solid #18d26e;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #071527;
  padding: 12px 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #05101e;
  border-top: 4px solid #066164;
  text-align: center;
  padding: 30px 20px;
}
#footer .footer-top .footer-info a {
  color: #149ea2;
}
#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  background: #0a1e38;
}
#footer .footer-top .social-links a:hover {
  color: #fff;
  background: #066164;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #066164;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links li {
  padding: 11px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer-links ul {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}
.footer-link-services ul {
  padding-left: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .footer-link-services ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
.footer-link-services li {
  padding: 10px 0;
}
.footer-link-services a {
  color: #fff;
}
.footer-link-services i {
  color: #066164;
}
.footer-link-services ul a:hover {
  color: #0b9196;
}
#footer .footer-top .footer-links ul a:hover {
  color: #0b9196;
}

#footer .copyright {
  border-top: 1px solid #0f2f57;
  text-align: center;
  padding-top: 30px;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}
.card-img {
  width: 498px;
  height: 692.63;
}

.modal-body {
  padding: 0 !important;
}

/* Toggle Switch Styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + label {
  background-color: #0b9196;
}

.toggle-switch input[type="checkbox"]:checked + label:before {
  transform: translateX(20px);
}

/* Optional: Add styles to customize the appearance of the toggle switch when checked or unchecked */
.toggle-switch input[type="checkbox"]:checked + label {
  background-color: #3498db;
}

.toggle-switch input[type="checkbox"]:checked + label:before {
  background-color: #fff;
}
